.iTitre{
    margin-top : 5vh;
    color:#173D59;
    font-size: 18px;
    margin-left: 38vw;
}
.ifirstblock{

    width:80vw;
    height:70vh;
    margin-top:3vh;
    padding-top: 2vh;    
    border-radius: 30px;
    border: dashed 2px #000000;
    text-align: center;
    margin-bottom: 10vh;

}
.isoustitre{
    color : #173D59;
    text-align:center ;
    margin-bottom: 6vh;;
}
.moychutes{
    color :#688B94;
    margin-left: 5vw;
}
.moychutes1{
    color :#688B94;
    margin-left: 5vw;
    text-align: left;
}
.i2020{
    font-size: 10px;
    margin-left: 5vw;
    margin-bottom: 3vh;

}
.i20201{
    font-size: 10px;
    margin-left: 5vw;
    margin-bottom: 3vh;
    text-align: left;

}
.Essentiels{
    height: 350px;
    width: 700px;
}
.lineGraph{
   display: flex;
   justify-content: center;
   align-items: center;
}
.i2020m {
    font-size: 10px;
    margin-bottom: 3vh;
    margin-left: 5vw;
}
.i2ndblock{
    width:80vw;
    height:50vh;
    margin-top:3vh;
    padding-top: 2vh;
    border-radius: 30px;
    border: dashed 2px #000000;
    text-align: center;
    margin-bottom: 10vh;
}

.SortiesTitres{
    width:80vw;
    height:10vh;
    display: flex;
    text-align: left;
}

.titre{
    width:30vw;
    height:10vh;
    padding-left: 5vw;
}
